
<link rel="stylesheet" href="style.css">

<div class="work" style="background-color: rgb(99, 157, 207);;">
    <h1 style="text-align: center; width: 125%;color :#1f4d80" >YOUR todo List</h1>
<% for(var i=0;i<data.length;i++){ %>
    <form action="/delete" method="POST">
    
    <p style="display: inline-block;" ><input type="checkbox" name="checkbox" value="<%= data[i]._id %>" onchange="this.form.submit()"> <%= data[i].messege %> </p><br>
</form>
<% } %>


<form action="/upload" method="POST" class="new" >
   <input type="text" class="task" name="work" placeholder="Your task" required >
   <input type="submit" value="add a task" class="button" ></input>
</form>
</div>