.up-de{
   
  width: 100%;
  padding: 0% 11%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  justify-items: center;
  align-content: space-between;

}


.work{
    display: flex;
    margin: auto auto;
    width: 50%;
    height: auto;
    padding: 5%;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    border-radius: 55;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 1%;
        background-color:lightblue;
  box-shadow:20px 20px 50px 10px pink;
}


.ed-btn{

  border: 0;
  width: 3rem;
  height: 1.5rem;
 display: inline;
 background-color: #d0dcd0; /* Green */
 transition-duration: 0.4s;
}

.ed-btn:hover{

  background-color: #000000; /* Green */
  color: white;
  border-radius: 2%;



}

.delete-btn{



  border: 0;
  width: 3rem;
  height: 1.5rem;
 display: inline;
 background-color: rgb(187, 50, 50); /* Green */
 color: whitesmoke;
 transition-duration: 0.4s;
}
.delete-btn:hover{

  background-color: #112020; /* Green */
  color: white;
  border-radius: 2%;
 

}

.delete{
  
  margin-top: 0.16em;
  /* margin-block-end: 0.1em; */
}

.forms{

  background: transparent;
  border: 0px;
  border-bottom: 1px solid rgb(240, 245, 245);
  width: 25rem;
  margin-right: 1rem;
  margin-left: rem;
  column-gap: 4rem;
  font-size: larger;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

input:focus{
  background-color: white;
  border-color: white;
  border: 0px;
 
}

.head{
   color: #072c32fc;
   transition-duration: 0.4s;
   width: auto;
}

.head:hover{


  background-color: rgb(106, 48, 48);
  color: #4CAF50;
  height: 125%;
  border-top-left-radius:30% ;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 00%;
  scroll-padding-top: 10%;
  padding-bottom: -1%;
  padding-top: 5%;
  padding: 1%;
  text-align: center;


}

p{

  border-bottom: 1px solid rgb(240, 245, 245);
  width: 40rem;
  column-gap: 4rem;
  font-size: larger;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.task{

    background: transparent;
    text-align: center;
    border: none;    
    width: 20rem;
    border-bottom: 1px solid rgb(2, 2, 2);
}::placeholder{
    color: rgba(248, 248, 252, 0.545);
}

.button{

  background-color: lightblue;
  border: 1px solid burlywood;
  width: 7rem;
  height: 1.5rem;
  border: 0px solid blue;
  text-align: center;
  display: inline-block;
  border-radius: 0%;


  transition-duration: 0.4s;
}
.button:hover{
    background-color: #4CAF50; /* Green */
  color: white;
}

.new{

  text-align: center;
  border: 1px,solid,blue;
  margin-left: 5rem;
  width: 50rem;

}

@media (max-width: 1400px) {
  
.work{
    display: flex;
    margin: auto auto;
    width: 80%;
    height: 100%;
    height: auto;
    padding: 5%;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    border-radius: 55;
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        background-color:rgba(172, 214, 228, 0.673);
  box-shadow:20px 20px 50px 10px pink;
}
}
